{#################################}
{% extends "extends/site.html" %}
{% load staticfiles %}
{% load common_extras %}
{#################################}
{% block body_content %}
<div id="wrapper">
<!-- Left Navi Start -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu-head">
            <li class="nav-header">
                <div class="dropdown profile-element" style="margin-bottom: 10px">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" {% if userShops.count <= 1 %}style="cursor:default;"{% endif %}>
                        <span class="clear">
                            <span class="text-muted text-xs block">
                                <span>
                                    <strong style="color:#f8ac59; font-size:17px;">{{ user.shopId.shopNm }}</strong>
                                </span>
                                {% if userShops.count > 1 %}
                                <span>
                                    <b class="caret"></b>
                                </span>
                                {% endif %}
                            </span>
                        </span>
                    </a>
                    {% if userShops.count > 1 %}
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="background-color: #d7dde2;">
                        {% for userShop in userShops|excludeShop:user.shopId %}
                        <li style="line-height:18px;"><a href="javascript:$.fnChangeShop('{{ userShop.shopId }}')" style="font-size:14px; color:#0f0f0f;">{{ userShop.shopNm }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="{% static 'img/photos/no-private-photo.png' %}"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><span id="spanMainUserNm">{{ user.userNm }}</span></strong>
                            </span>
                            <span class="text-muted text-xs block">
                                {{ user.userAuthNm }} <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <input type="hidden" id="loginUserId" value="{{ user.userId }}">
                        <li><a id="aUserInfo" href="#">사용자정보</a></li>
                        <li><a id="aChangePw" href="#">비밀번호변경</a></li>
                        <!-- 
                        <li><a id="aCompanyInfo" href="#">회사정보</a></li>
                        <li><a id="aShopInfo" href="#">매장정보</a></li>
                        <li><a href="#">이름 : {{ user.userNm }}</a></li>
                        <li><a href="#">아이디 : {{ user.userId }}</a></li>
                        <li><a href="#">소속회사 : {{ user.companyNm }}</a></li>
                        <li><a href="#">회사구분 : {{ user.companyTpNm }}({{ user.companyTp.srtCd }})</a></li>
                        <li><a href="#">매장 : {{ user.companyShops|countUseYn:True }} / {{ user.companyShops.count }} 개</a></li>
                        <li><a href="#">소속매장 : {{ user.orgShopNm }}/{{ user.orgShopId }}</a></li>
                        <li><a href="#">소속매장직원 : {{ user.orgShopStaffs|countUseYn:True }} / {{ user.orgShopStaffs.count }} 명</a></li>
                        <li><a href="#">사용매장 : {{ user.shopNm }}/{{ user.shopId }}</a></li>
                        <li><a href="#">사용매장직원 : {{ user.shopStaffs|countUseYn:True }} / {{ user.shopStaffs.count }} 명</a></li>
                        <li><a href="#">소속회사ID : 정기</a></li>
                        <li><a href="#">소속매장 : 매월5일</a></li>
                        <li><a href="#">등급 : 기본형</a></li>
                        <li><a href="#">매장 : 1개</a></li>
                        <li><a href="#">직원 : 3명</a></li>
                         -->
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" src="{% static 'img/photos/no-private-photo.png' %}"/>
                </div>
            </li>
        </ul>
        <!-- Left Navi :: Left Menu Start -->
        <ul class="nav metismenu" id="side-menu">
        </ul>
        <!-- Left Navi :: Left Menu End -->
    </div>
</nav>
<!-- Left Navi End -->

<!-- Right Contents Start -->
<div id="page-wrapper" class="gray-bg">
    <!-- Right Contents :: Top Navi Start -->
    <div id="naviTop" class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="{% static 'img/a7.jpg' %}">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="{% static 'img/a4.jpg' %}">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="{% static 'img/profile.jpg' %}">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                -->

                <!-- 로그아웃 :: Start -->
                <li>
                    <a href="{% url 'logins:logout' %}">
                        <i class="fa fa-sign-out"></i> 로그아웃
                    </a>
                </li>
                <!-- 로그아웃 :: End -->
                <!-- 새로고침 :: Start -->
                <li>
                    <a>
                        <i id="btnRefreshSysGDs" class="fa fa-refresh"></i>
                    </a>
                </li>
                <!-- 새로고침 :: End -->
            </ul>            
        </nav>
    </div>
    <!-- Right Contents :: Top Navi End -->
    <!-- Right Contents :: Main Contents Start -->
    <div id="boxContents">
        <div class="spinWrap">
            <div id="mainContents"></div>
        </div>
    </div>
    <!-- Right Contents :: Main Contents End -->
    <!-- Right Contents :: Bottom Footer Start -->
    <div class="footer">
        <div>
            <strong>Copyright</strong> 엔텔 &copy; 2018-2019
        </div>
    </div>
    <!-- Right Contents :: Bottom Footer End -->
</div>
<!-- Right Contents End -->
{% endblock body_content%}
{% block body_script_local %}
<script>
$(document).ready(function() {
	// 환경설정 버튼 세팅
	$.gfSetConfigBtn();

    // 시스템전역 데이터 전체 세팅
    $.gfSetGlobalDataAll();

    // 현재시간 세팅
    $.gfSetCurrentDateTime();	
	
    // 상단우측 Refresh 버튼 클릭시 처리
    $("#btnRefreshSysGDs").on("click", function(e, params) {
        var _this = $(this);
		
        // 현재 페이지 리로드로 대체
        location.reload();
    });
    
    $("#aCompanyInfo").on("click", function() {
		console.log("aCompanyInfo Click!!!!!!!!")    		
	});

    $("#aShopInfo").on("click", function() {
		console.log("aShopInfo Click!!!!!!!!")    		
	});

    $("#aUserInfo").on("click", function() {
        // 상세 팝업
        $.gfCommonPopUp({
            popUrl: "{% url 'main:user_info__detail' %}",
            modalId: "divLoginUserInfoPopup",
            width: "600",
            loginCheck: true,
        });
	});
    
    // 비밀번호 변경 
    $("#aChangePw").on("click", function() {
        // 상세 팝업
        $.gfCommonPopUp({
            popUrl: "{% url 'main:change_password__detail' %}",
            modalId: "divChangePasswordPopup",
            width: "600",
            loginCheck: true,
        });
	});
    
});

/*
 * 사용매장 변경
 */
$.fnChangeShop = function(shopId) {
    $.gfAjax({
        url: "{% url 'main:json__changeshop' %}",
        data: {
            'shopId' : shopId,
        },
        dataType: "json",
        okFunc: function(data, cbFunc) {
            // 성공시 리로드
            console.log("매장변경 성공");
            location.reload();            
        },
        failFunc: function(jqXHR, textStatus, errorThrown) {
            // Http Error처리
            $.gfHttpErrorPopup({
                jqXHR : jqXHR,
                textStatus : textStatus,
                errorThrown : errorThrown,
                loginRequired : true,
            });
        },
    });
}    

</script>
{% endblock body_script_local %}

