{#################################}
{% extends "extends/site.html" %}
{% load staticfiles %}
{#################################}
{% block body_attribute %}style="background-color: #ffffff;"{% endblock body_attribute %}
{% block body_content %}
<div style="width: 100%; text-align: center;">
    <img align="center" src="{% static "img/main_image.jpg" %}"/>
    <div style="width: 100%; text-align: center;">
        <span>
                <button type="button" class="btn btn-outline btn-default" onclick="javascript:window.location.href='{% url 'logins:login' %}'">로그인</button>        
        </span>
        <span>
                <button type="button" class="btn btn-outline btn-default" onclick="javascript:window.location.href='{% url 'appreq:index' %}'">이용신청</button>        
        </span>
    </div>
</div>
{% endblock body_content%}

{% block body_script_local %}
<script>
$(document).ready(function() {
	$("body").css("background-color", "#ffffff");
});
</script>
{% endblock body_script_local %}

