{#################################}
{% load staticfiles %}
{% load setting_extras %}
{#################################}
<div class="modal-dialog">
    <div class="modal-content">
        <!-- header Start -->
        <div class="modal-header p-header">
            <!-- 닫기(x) 버튼 Start -->
            <button id="btnDialogClose" type="button" class="close" data-dismiss="modal">×</button>
            <!-- 닫기(x) 버튼 End -->
            <!-- header title Start -->
            <h2 class="font-bold">거래처 등록</h2>
            <!-- header title End -->
        </div>
        <!-- header End -->
        <!-- body Start -->
        <div id="divAccountRegist"  class="modal-body p-body">
            <div class="spinWrap">
                <div class="ibox-content" style="padding:5px 5px 5px 5px;">
                    <form id="frmAccountInfo" name="frmAccountInfo" action="." method="post">
                    <div style="margin-bottom: 10px;">
                        <table class="t-table">
                            <colgroup>
                                <col width="120">
                                <col width="537">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td class="t-label t-l-w" style="background-clip:border-box;">거래처명</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="companyNm" name="companyNm" class="form-control form-box" value="" label="거래처명">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">거래처구분</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            {% for companyTp in companyTps %}
                                            <div formType="iChecks" class="i-checks disp-ib" formOnly="POP">
                                                <label class="radio">
                                                    <input type="radio" id="companyTp{{ forloop.counter }}" name="companyTp" value="{{ companyTp.comCd }}" srtCd="{{ companyTp.srtCd }}" style="position: absolute; opacity: 0;" {% if forloop.counter == 1 %} checked {% endif %} label="거래처구분">
                                                    <span>{{ companyTp.comNm }}</span>
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </span>
                                    </td>
                                </tr>
                                <tr id="trNetworkCompanyA" style="displan: none;">
                                    <td class="t-label t-l-w">통신사</td>
                                    <td class="t-content t-c-w al">
                                        <table style="border:1px solid #ccc; width: 100%;">
                                            <colgroup>
                                                <col width="30%">
                                                <col width="70%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; height: 28px; background-color: #eeefef; border:1px solid #ccc;">이통사</th>
                                                    <th style="text-align: center; height: 28px; background-color: #eeefef; border:1px solid #ccc;">MVNO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for networkCompany in networkCompanys %}
                                                <tr>
                                                    <td style="text-align: center; height: 28px; border:1px solid #ccc; text-align: left;">
                                                        {% for data in networkCompany.datas|mvnoYn:False %}
                                                        <div formType="iChecks" class="i-checks disp-ib" style="display:block; padding: 2px 2px;" formOnly="POP">
                                                            <label class="radio">
                                                                <input type="radio" id="networkCompanyId_A_{{ data.networkSrtSeq }}_{{ data.telecomSrtSeq }}" name="networkCompanyIdA" value="{{ data.networkCompanyId }}"  style="position: absolute; opacity: 0;" {% if data.networkOrdSeq == 1 and data.companyOrdSeq == 1 %}checked{% endif %} label="{{ data.networkCompanyNm}}">
                                                                <span>{{ data.networkCompanyNm }}</span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </td>
                                                    <td style="text-align: center; height: 28px; border:1px solid #ccc; text-align: left;">
                                                        {% for data in networkCompany.datas|mvnoYn:True %}
                                                        <div formType="iChecks" class="i-checks disp-ib" style="display:block; padding: 2px 2px;" formOnly="POP">
                                                            <label class="radio">
                                                                <input type="radio" id="networkCompanyId_A_{{ data.networkSrtSeq }}_{{ data.telecomSrtSeq }}" name="networkCompanyIdA" value="{{ data.networkCompanyId }}"  style="position: absolute; opacity: 0;" {% if data.networkOrdSeq == 1 and data.companyOrdSeq == 1 %}checked{% endif %} label="{{ data.networkCompanyNm}}">
                                                                <span>{{ data.networkCompanyNm }}</span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="trNetworkCompanyD" style="display:none;">
                                    <td class="t-label t-l-w">통신사</td>
                                    <td class="t-content t-c-w al">
                                        <table style="border:1px solid #ccc; width: 100%;">
                                            <colgroup>
                                                <col width="30%">
                                                <col width="70%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; height: 28px; background-color: #eeefef; border:1px solid #ccc;">이통사</th>
                                                    <th style="text-align: center; height: 28px; background-color: #eeefef; border:1px solid #ccc;">MVNO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for networkCompany in networkCompanys %}
                                                <tr>
                                                    <td style="text-align: center; height: 28px; border:1px solid #ccc; text-align: left;">
                                                        {% for data in networkCompany.datas|mvnoYn:False %}
                                                        <label class="ckbox" style="display:block; padding: 2px 8px;">
                                                            <div formType="iChecks" class="icheckbox_square-green" style="position: relative;" formOnly="POP">
                                                                <input id="networkCompanyId_D_{{ data.networkSrtSeq }}_{{ data.telecomSrtSeq }}" name="networkCompanyIdD" value="{{ data.networkCompanyId }}"  type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" label="{{ data.networkCompanyNm }}" checked>
                                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                            </div>
                                                            <span style="width: 30px;">{{ data.networkCompanyNm }}</span>
                                                        </label>
                                                        {% endfor %}
                                                    </td>
                                                    <td style="text-align: center; height: 28px; border:1px solid #ccc; text-align: left;">
                                                        {% for data in networkCompany.datas|mvnoYn:True %}
                                                        <label class="ckbox" style="display:block; padding: 2px 8px;">
                                                            <div formType="iChecks" class="icheckbox_square-green" style="position: relative;" formOnly="POP">
                                                                <input id="networkCompanyId_D_{{ data.networkSrtSeq }}_{{ data.telecomSrtSeq }}" name="networkCompanyIdD" value="{{ data.networkCompanyId }}"  type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" label="{{ data.networkCompanyNm }}" checked>
                                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                            </div>
                                                            <span style="width: 30px;">{{ data.networkCompanyNm }}</span>
                                                        </label>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="trNetworkCompanyC" style="display:none;">
                                    <td class="t-label t-l-w">통신사</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            {% for networkCompany in networkCompanys %}
                                                {% for data in networkCompany.datas|lineTpCabled %}
                                            <label class="ckbox" style="display:block; padding: 2px 8px;">
                                                <div formType="iChecks" class="icheckbox_square-green" style="position: relative;" formOnly="POP">
                                                    <input id="networkCompanyId_C_{{ data.networkSrtSeq }}_{{ data.telecomSrtSeq }}" name="networkCompanyIdC" value="{{ data.networkCompanyId }}"  type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" label="{{ data.networkCompanyNm }}" checked>
                                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                </div>
                                                <span style="width: 30px;">{{ data.networkCompanyNm }}</span>
                                            </label>
                                                {% endfor %}
                                            {% endfor %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">담당자</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="chargerNm" name="chargerNm" class="form-control form-box" value="" label="담당자">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">전화번호</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="telNo1" name="telNo1" formType="tel1" tabNext="telNo2" formOnly="POP" class="form-control form-box" style="width: 50px; text-align: center;" maxlength="4" value="" label="전화번호">
                                        </span>
                                        <span>
                                            <input type="text" id="telNo2" name="telNo2" formType="tel2" tabNext="telNo3" formOnly="POP" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="" label="전화번호">
                                        </span>
                                        <span>
                                            <input type="text" id="telNo3" name="telNo3" formType="tel3" tabNext="faxNo1" formOnly="POP" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="" label="전화번호">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">Fax</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="faxNo1" name="faxNo1" formType="tel1" tabNext="faxNo2" formOnly="POP" class="form-control form-box" style="width: 50px; text-align: center;" maxlength="4" value="" label="Fax"}>
                                        </span>
                                        <span>
                                            <input type="text" id="faxNo2" name="faxNo2" formType="tel2" tabNext="faxNo3" formOnly="POP" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="" label="Fax">
                                        </span>
                                        <span>
                                            <input type="text" id="faxNo3" name="faxNo3" formType="tel3" tabNext="cellNo1" formOnly="POP" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="" label="Fax">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">휴대폰</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="cellNo1" name="cellNo1" formType="tel1" tabNext="cellNo2" formOnly="POP" class="form-control form-box" style="width: 50px; text-align: center;" maxlength="4" value="" label="휴대폰번호">
                                        </span>
                                        <span>
                                            <input type="text" id="cellNo2" name="cellNo2" formType="tel2" tabNext="cellNo3" formOnly="POP" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="" label="휴대폰번호">
                                        </span>
                                        <span>
                                            <input type="text" id="cellNo3" name="cellNo3" formType="tel3" tabNext="addr1" formOnly="POP" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="" label="휴대폰번호">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">주소</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="addr1" name="addr1" class="form-control form-box" value="{{ accountInfo.accountId.addr1|default_if_none:'' }}" label="주소">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">사업자등록번호</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="bizLicNo1" name="bizLicNo1" formType="bizLic1" tabNext="bizLicNo2" formOnly="POP" class="form-control form-box" style="width: 30px; text-align: center;" maxlength="3" value="" label="사업자번호">
                                        </span>
                                        <span>
                                            <input type="text" id="bizLicNo2" name="bizLicNo2" formType="bizLic2" tabNext="bizLicNo3" formOnly="POP" class="form-control form-box" style="width: 20px; text-align: center;" maxlength="2" value="" label="사업자번호">
                                        </span>
                                        <span>
                                            <input type="text" id="bizLicNo3" name="bizLicNo3" formType="bizLic3" tabNext="bizTp" formOnly="POP" class="form-control form-box" style="width: 50px; text-align: center;" maxlength="5" value="" label="사업자번호">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">업태</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="bizTp" name="bizTp" class="form-control form-box" value="" label="업태">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">업종</td>
                                    <td class="t-content t-c-w al">
                                        <span>
                                            <input type="text" id="bizKind" name="bizKind" class="form-control form-box" value="" label="업종">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-label t-l-w">사용여부</td>
                                    <td class="t-content t-c-w al pd-l-5">
                                        <span style="display:inline-flex">
                                            <div class="setings-item" style="padding: 0px 10px 0px 0px;">
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        <input id="useYn" name="useYn" type="checkbox" class="onoffswitch-checkbox" value="1" checked>
                                                        <label class="onoffswitch-label" style="margin-bottom: 0px;" for="useYn">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;">
                        <span><button id="btnRegist" type="button" class="btn btn-primary" value="등록">등록</button></span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- body End -->
        <!-- Footer Start -->
        <div class="modal-footer p-footer">
            <span>
                <button type="button" class="form-btn form-btn-n" style="width: 60px;" data-dismiss="modal">닫기</button>
            </span>
        </div>
        <!-- Footer End -->
    </div>
</div>




<!-- Javascript Local Code Start -->
<script>
$(document).ready(function() {

    // 일반 form 객체 초기화
    $.gfInitFormField("POP");

    // 사업자 구분 클릭 이벤트
    $("input:radio[name='companyTp']").on("ifClicked", function(){
        var _this = $(this)
        var srtCd = _this.attr("srtCd");
        
        // 통신사 선택 노출 세팅
        $.fnSetNetworkCompany(srtCd);        
    });

	// 등록 처리
    $("#btnRegist").on("click", function(e, params) {
        $.gfComfirm({
            text: "등록하시겠습니까?",
            cbFunc: function(isConfirm) {
            	if(isConfirm){
                    $.fnRegistAccount();
            	}
            }
        });
    });
});


/*
 * 팝업 노출 후 초기화
 */
$.fnInitPop = function() {
	// 거래처 명 Focus
	$("#frmAccountInfo input[id='companyNm']").focus();

	// 통신사 선택란 노출 세팅
	$.fnSetNetworkCompany($("input:radio[name='companyTp']").attr("srtCd"));
};


/*
 * 통신사 선택란 노출 세팅
 */
$.fnSetNetworkCompany = function(srtCd) {
    var _trNetworkCompanyA = $("#trNetworkCompanyA"); // 대리점 통신사 선택 영역
    var _trNetworkCompanyD = $("#trNetworkCompanyD"); // 딜러점 통신사 선택 영역
    var _trNetworkCompanyC = $("#trNetworkCompanyC"); // 유선사업 통신사 선택 영역

    if (srtCd == "A"){ // 대리점일 경우
        _trNetworkCompanyA.show();
        _trNetworkCompanyD.hide();
        _trNetworkCompanyC.hide();
    } else if (srtCd == "D"){ // 딜러점일 경우
        _trNetworkCompanyA.hide();
        _trNetworkCompanyD.show();
        _trNetworkCompanyC.hide();
    } else if (srtCd == "C"){ // 유선사업일 경우
        _trNetworkCompanyA.hide();
        _trNetworkCompanyD.hide();
        _trNetworkCompanyC.show();
    } else { // 판매점 포함 기타
        _trNetworkCompanyA.hide();
        _trNetworkCompanyD.hide();
        _trNetworkCompanyC.hide();
    }
};

/*
 * 거래처 등록
 */
$.fnRegistAccount = function() {

    $.gfAjax({
        url: "{% url 'setting:accountman__json__regist' %}",
        data: $("#frmAccountInfo").serializeArray(),
        async: true,
        dataType: "json",
        okFunc: function(data, cbFunc){
        	$.gfAlert({
        		title: "처리완료",
        		text: data.resultMessage,
        	});

            // 등록 팝업 닫기
            $("#btnDialogClose").trigger("click");

            // 검색 재실행
            $("#btnSearch").trigger("click");
        },
        failFunc: function(jqXHR, textStatus, errorThrown) {
            // Http Error처리
            $.gfHttpErrorPopup({
                jqXHR : jqXHR,
                textStatus : textStatus,
                errorThrown : errorThrown,
                loginRequired : true,
            });
        },
    });
};

</script>
<!-- Javascript Local Code End -->
</html>
