{#################################}
{% load staticfiles %}
{#################################}

<!-- 탭 본문 : 홈/인터넷 Start -->
<div id="divContents03">
    <table class="t-table">
        <colgroup>
            <col width="86">
            <col width="114">
            <col width="86">
            <col width="114">
            <col width="86">
            <col width="114">
            <col width="86">
            <col width="114">
        </colgroup>
        <tbody>
            <tr>
                <td class="t-label t-l-w">판매자</td>
                <td class="t-content t-c-w">
                    <span>
                        <select formType="staffSel" formOnly="Y" class="form-control form-box" id="sellerNmHi" name="sellerNmHi" setValue="">
                        </select>
                    </span>
                </td>
                <td class="t-white" colspan="6"></td>
            </tr>
            <tr>
                <td class="t-white-line" colpan="8"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">통신사</td>
                <td class="t-content t-c-w">
                    <span style="text-align: right;">
                        <select class="form-control form-box" id="openTelecomHi" name="openTelecomHi" formType="comSel" formOnly="Y" grpCd="G0002" grpOpt="B" triggerEvent="change">
                        </select>
                    </span>
                </td>
                <td class="t-label t-l-w">개통거래처</td>
                <td class="t-content t-c-w">
                    <span style="text-align: right;">
                        <select formType="agentSel" formOnly="Y" class="form-control form-box" id="openAgentHi" name="openAgentHi" setValue="">
                        </select>
                    </span>
                </td>
                <td class="t-label t-l-w">정책</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="policyNmHi" name="policyNmHi" class="form-control form-box" style="width: 90px; text-align: right;"> 호
                    </span>
                </td>
                <td class="t-white t-c-w al" colspan="2">
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w l2">신청일</td>
                <td class="t-content t-c-w al">
                    <span style="display: inline-block; vertical-align:middle;">
                        <span class="form-group">
                            <div formType="datePicker" formOnly="Y" class="input-group date">
                                <span>
                                    <input id="applyDtHi" name="applyDtHi" type="text" nowDate="YYYY-MM-DD" class="form-control form-box" style="width: 90px; text-align:center;" value="">
                                </span>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </span>
                    </span>
                </td>
                <td class="t-label t-l-w">고객명</td>
                <td class="t-content t-c-w">
                    <span>
                        <input type="text" id="custNmHi" name="custNmHi" class="form-control form-box" style="text-align: center;" value="">
                    </span>
                </td>
                <td class="t-label t-l-w">연락처</td>
                <td class="t-content t-c-w al" colspan="4">
                    <span>
                        <input type="text" id="telNo1Hi" name="telNo1Hi" formType="tel1" formOnly="Y" tabNext="telNo2Hi" class="form-control form-box" style="width: 50px; text-align: center;" maxlength="4" value="">
                    </span>
                    <span>
                        <input type="text" id="telNo2Hi" name="telNo2Hi" formType="tel2" formOnly="Y" tabNext="telNo3Hi" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="">
                    </span>
                    <span>
                        <input type="text" id="telNo3Hi" name="telNo3Hi" formType="tel3" formOnly="Y" tabNext="telecomCallPlan_chosen" class="form-control form-box" style="width: 70px; text-align: center;" maxlength="4" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">결합상품</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span id="spanCcGrp" cc-area="group" telecomCd="">
                        <span cc-area="product" style="display: inline-block; width:200px;">
                            <select cc-item="product" id="ccInfo" name="ccInfo" formType="chosen" formOnly="Y" sWidth="300" data-placeholder="결합 상품을 선택하세요." dataKey="GD_PROD_CC" class="chosen-select form-control form-box">
                                <option prodCd="" telecomCd="" prodNm="" prodSpec="" prodPrice="" prodNm="" colseDt="" useYn="" limitDesc="" dvalue="" value=""></option>
                            </select>
                        </span>
                        <span cc-area="memo">
                            <span style="display: inline-block; width:250px;">
                                <input cc-item="memo" type="text" id="ccMemo" name="ccMemo" class="form-control form-box" style="width: 100%; text-align: left;" value="" disabled>
                            </span>
                        </span>
                        <span cc-area="plan-date-cap">
                            <span cc-item="plan-date-cap" style="width: 50px; display: inline-block; font-size: 11px; color: #717071; text-align: right;">예정기일</span>
                        </span>
                        <span cc-area="plan-date" style="display: inline-block; vertical-align:middle;">
                            <span class="form-group">
                                <div cc-item="plan-date-picker" id="divCcPlanDt" name="divCcPlanDt" formType="datePicker" formOnly="Y" class="input-group date" disabled>
                                    <span>
                                        <input cc-item="plan-date-field" id="ccPlanDt" name="ccPlanDt" type="text" class="form-control form-box" placeholder="" style="width: 70px; text-align:center;" value="">
                                    </span>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-white-line" colpan="8"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">진행상태</td>
                <td class="t-content t-c-w"><span id="spanProcStatusHi" style="color: red;">신청</span></td>
                <td class="t-label t-l-w l2">개통일</td>
                <td class="t-content t-c-w al">
                    <span style="display: inline-block; vertical-align:middle;">
                        <span class="form-group">
                            <div formType="datePicker" formOnly="Y" class="input-group date">
                                <span>
                                    <input id="openDtHi" type="text" class="form-control form-box" style="width: 90px; text-align:center;" value="">
                                </span>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </span>
                    </span>
                </td>
                <td class="t-white t-c-w al" colspan="4">
                    <span style="font-size: 11px; color: red;">-개통일 지정시 완료처리됨</span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">약정</td>
                <td class="t-content t-c-w">
                    <span style="text-align: right;">
                        <select class="form-control form-box" id="tcType" name="tcType" formType="comSel" formOnly="Y" grpCd="G0022">
                        </select>
                    </span>
                </td>
                <td class="t-label t-l-w">설치주소</td>
                <td class="t-content t-c-w al" colspan="5">
                    <span>
                        <input type="text" id="setAddr" name="setAddr" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-white t-c-w al" colspan="2">
                </td>
                <td class="t-label t-l-w l2">정산기준</td>
                <td class="t-content t-c-w">
                    <span style="text-align: right;">
                        <select class="form-control form-box" id="tcType" name="tcType" formType="comSel" formOnly="Y" grpCd="G0023">
                        </select>
                    </span>
                </td>
                <td class="t-label t-l-w">기본정책</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="rbPcyBasAmt" formType="currency" formOnly="Y" tabNext="" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">구두정책</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="rbPcyVebAmt" formType="currency" formOnly="Y" tabNext="" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-white t-c-w al" colspan="4">
                </td>
                <td class="t-label t-l-w">추가정책</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="rbPcyAddAmt" formType="currency" formOnly="Y" tabNext="" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">그레이드</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="rbPcyGrdAmt" formType="currency" formOnly="Y" tabNext="" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-white-line" colpan="8"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">인터넷</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span id="spanProdInternetGrp" int-area="group" telecomCd="">
                        <span int-area="product" style="display: inline-block; width:200px;">
                            <select int-item="product" name="prodInternetInfo" formType="chosen" formOnly="Y" sWidth="300" data-placeholder="인터넷 상품을 선택하세요." dataKey="GD_PROD_HI" class="chosen-select form-control form-box">
                                <option prodCd="" telecomCd="" prodGb="" prodSpec="" prodPrice="" prodNm="" prodDesc="" useYn="" dvalue="" value=""></option>
                            </select>
                        </span>
                        <span int-area="keep-date-cap">
                            <span int-item="keep-date-cap" style="font-size: 11px; color: #717071;">유지</span>
                        </span>
                        <span int-area="keep-date" style="display: inline-block; vertical-align:middle;">
                            <span class="form-group">
                                <div int-item="keep-date-picker" id="divProdInternetKeepDt" formType="datePicker" formOnly="Y" class="input-group date" disabled>
                                    <span>
                                        <input int-item="keep-date-field" name="prodInternetInfoKeepDt" type="text" class="form-control form-box" style="width: 70px; text-align:center;" value="">
                                    </span>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </span>
                        </span>
                        <span int-area="product-change" style="display: inline-block; width:200px;">
                            <select int-item="product-change" name="prodInternetInfoChg" formType="chosen" formOnly="Y" sWidth="300" data-placeholder="변경예정 상품을 선택하세요." dataKey="GD_PROD_HI" class="chosen-select form-control form-box">
                                <option prodCd="" telecomCd="" prodGb="" prodSpec="" prodPrice="" prodNm="" prodDesc="" useYn="" dvalue="" value=""></option>
                            </select>
                        </span>
                        <span int-area="product-change-comment" style="display: inline-block; width:170px;">
                            <input int-item="product-change-comment" type="text" name="prodInternetInfoChgComment" class="form-control form-box" style="width: 100%; text-align: left;" value="" disabled>
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">
                    <span style="display:block;">
                        <span style="display: inline-block;">TV</span>
                        <span id="spanProdTvInfoBtns" tv-area="multi-button" groupId="spanProdTvInfoGrps" style="display: inline-block; vertical-align: middle;">
                            <span tv-item="button-plus" style="padding-top: 1px; padding-bottom:1px;" class="disp-b">
                                <i id="btnProdTvInfoPlus" class="fa fa-plus-circle cur-p" style="color: #1ab394;"></i>
                            </span>
                            <span tv-item="button-minus" style="padding-top:1px; padding-bottom: 1px;" class="disp-n">
                                <i id="btnProdTvInfoMinus" class="fa fa-minus-circle cur-p" style="color: #b34d1a;"></i>
                            </span>
                        </span>
                    </span>
                </td>
                <td class="t-content t-c-w al" colspan="7">
                    <span id="spanProdTvInfoGrps" tv-area="multi-group" telecomCd="">
                        <span tv-area="group-temp" seqNo="0" class="disp-n">
                            <span tv-area="product" style="display: inline-block; width:200px;">
                                <select tv-item="product" name="prodTvInfo" sWidth="300" data-placeholder="TV 상품을 선택하세요." dataKey="GD_PROD_HI" class="chosen-select form-control form-box" disabled>
                                    <option prodCd="" telecomCd="" prodGb="" prodSpec="" prodPrice="" prodNm="" prodDesc="" useYn="" dvalue="" value=""></option>
                                </select>
                            </span>
                            <span tv-area="keep-date-cap">
                                <span tv-item="keep-date-cap" style="font-size: 11px; color: #717071;">유지</span>
                            </span>
                            <span tv-area="keep-date" style="display: inline-block; vertical-align:middle;">
                                <span class="form-group">
                                    <div tv-item="keep-date-picker" class="input-group date" disabled>
                                        <span>
                                            <input tv-item="keep-date-field" id="prodTvInfoKeepDt" type="text" class="form-control form-box" style="width: 70px; text-align:center;" value="">
                                        </span>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </span>
                            </span>
                            <span tv-area="product-change" style="display: inline-block; width:200px;">
                                <select tv-item="product-change" name="prodTvInfoChg" sWidth="300" data-placeholder="변경예정 상품을 선택하세요." dataKey="GD_PROD_HI" class="chosen-select form-control form-box" disabled>
                                    <option prodCd="" telecomCd="" prodGb="" prodSpec="" prodPrice="" prodNm="" prodDesc="" useYn="" dvalue="" value=""></option>
                                </select>
                            </span>
                            <span tv-area="product-change-comment" style="display: inline-block; width:170px;">
                                <input tv-item="product-change-comment" type="text" name="prodTvInfoChgComment" class="form-control form-box" style="width: 100%; text-align: left;" value="" disabled>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">
                    <span style="display:block;">
                        <span style="display: inline-block;">전화</span>
                        <span id="spanProdItpInfoBtns" itp-area="multi-button" groupId="spanProdItpInfoGrps" style="display: inline-block; vertical-align: middle;">
                            <span itp-item="button-plus" style="padding-top: 1px; padding-bottom:1px;" class="disp-b">
                                <i id="btnProdItpInfoPlus" class="fa fa-plus-circle cur-p" style="color: #1ab394;"></i>
                            </span>
                            <span itp-item="button-minus" style="padding-top:1px; padding-bottom: 1px;" class="disp-n">
                                <i id="btnProdItpInfoMinus" class="fa fa-minus-circle cur-p" style="color: #b34d1a;"></i>
                            </span>
                        </span>
                    </span>
                </td>
                <td class="t-content t-c-w al" colspan="3">
                    <span id="spanProdItpInfoGrps" itp-area="multi-group" telecomCd="">
                        <span itp-area="group-temp" seqNo="0" class="disp-n">
                            <span itp-area="product" style="display: inline-block; width:200px;">
                                <select itp-item="product" name="prodItpInfo" sWidth="300" data-placeholder="전화 상품을 선택하세요." dataKey="GD_PROD_HI" class="chosen-select form-control form-box" disabled>
                                    <option prodCd="" telecomCd="" prodGb="" prodSpec="" prodPrice="" prodNm="" prodDesc="" useYn="" dvalue="" value=""></option>
                                </select>
                            </span>
                        </span>
                    </span>
                </td>
                <td class="t-white" colpan="4"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">할인카드</td>
                <td class="t-content t-c-w al" colspan="3">
                    <span>
                        <input type="text" id="dcCard" name="dcCard" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
                <td class="t-white" colpan="4"></td>
            </tr>
            <tr>
                <td class="t-white-line" colpan="8"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">환수서비스</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span style="width: 400px;">
                        <input type="text" id="desNmHi" name="desNmHi" class="form-control form-box" style="width: 400px; text-align: left;" value="">
                    </span>
                    <span style="width: 30px; display: inline-block; font-size: 11px; color: #717071; text-align: right;">금액</span>
                    <span>
                        <input type="text" name="DesAmtHi" formType="currency" formOnly="Y" class="form-control form-box" style="width: 100px; text-align: right;" placeholder="0" value="">
                    </span>
                    <span style="font-size: 11px; color: #717071;">원</span>
                </td>
            </tr>
            <tr>
                <td class="t-white-line" colpan="8"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w"><span>할인금액</span></td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="dcAmt" formType="currency" formOnly="Y" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">할인예정일</td>
                <td class="t-content t-c-w">
                    <span style="display: inline-block; vertical-align:middle;">
                        <span class="form-group">
                            <div id="divDcDt" formType="datePicker" formOnly="Y" class="input-group date" disabled>
                                <span>
                                    <input id="dcDt" name="dcDt" type="text" class="form-control form-box" style="width: 90px; text-align:center;" value="">
                                </span>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </span>
                    </span>
                </td>
                <td class="t-white" colspan="4"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">할인정보</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span>
                        <input type="text" id="dcInfoMip" name="dcInfoMip" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">기타할인</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="etcDcAmt" name="etcDcAmt" formType="currency" formOnly="Y" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">기타정보</td>
                <td class="t-content t-c-w al" colspan="5">
                    <span>
                        <input type="text" id="etcInfo" name="etcInfo" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w l2">판매마진</td>
                <td class="t-content t-c-w ar">
                    <span class="span-money">
                        <span id="spanSaleMarginAmt">219,000</span><span class="span-won">원</span>
                    </span>
                </td>
                <td class="t-label t-l-w l2">세후마진</td>
                <td class="t-content t-c-w ar">
                    <span class="span-money">
                        <span id="spanAftTaxMarginAmt">174,000</span><span class="span-won">원</span>
                    </span>
                </td>
                <td class="t-label t-l-w l2">세금</td>
                <td class="t-content t-c-w ar">
                    <span class="span-money">
                        <span id="spanTaxAmt">12,000</span><span class="span-won">원</span>
                    </span>
                </td>
                <td class="t-label t-l-w l2">정산금액</td>
                <td class="t-content t-c-w ar">
                    <span class="span-money">
                        <span id="spanBaAmt">237,000</span><span class="span-won">원</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-white al" colspan="8">
                    <div class="div-desc">-판매마진 = [기본,구두,추가,그레이드] - [환수서비스,할인금액,기타할인]</div>
                    <div class="div-desc">-세후마진 = [기본,구두,추가,그레이드] - [환수서비스,할인금액,기타할인] - 세금 %</div>
                    <div class="div-desc">-세금 = [기본,구두,추가,그레이드] - [환수서비스] / 세금 %</div>
                    <div class="div-desc">-정산금액 = [기본,구두,추가,그레이드] - [환수서비스]</div>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">고객납현금</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="custPayCashAmt" formType="currency" formOnly="Y" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">카드</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="custPayCardAmt" formType="currency" formOnly="Y" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">미수금</td>
                <td class="t-content t-c-w al">
                    <span>
                        <input type="text" id="custPayUnpayAmt" formType="currency" formOnly="Y" class="form-control form-box" style="width: 90px; text-align: right;" placeholder="0" value=""> 원
                    </span>
                </td>
                <td class="t-label t-l-w">미수기일</td>
                <td class="t-content t-c-w al">
                    <span style="display: inline-block; vertical-align:middle;">
                        <span class="form-group">
                            <div id="divOutstndAmtDueDt" formType="datePicker" formOnly="Y" class="input-group date" disabled>
                                <span>
                                    <input id="outstndAmtDueDt" type="text" class="form-control form-box" style="width: 90px; text-align:center;" value="">
                                </span>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">처리대리점</td>
                <td class="t-content t-c-w">
                    <span style="text-align: right;">
                        <select formType="agentSel" formOnly="Y" class="form-control form-box" id="custPayCashAgentHi" name="custPayCashAgentHi">
                        </select>
                    </span>
                </td>
                <td class="t-label t-l-w">처리정보</td>
                <td class="t-content t-c-w al" colspan="5">
                    <span>
                        <input type="text" id="custPayCashInfo" name="custPayCashInfo" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-white al" colspan="8">
                    <div class="div-desc">-고객납현금/카드/미수금 = 판매마진에 영향을 주지 않습니다.(개통시 요금/기존할부금 정리시 작성하는 란입니다.</div>
                </td>
            </tr>
            <tr>
                <td class="t-white-line-s" colpan="8"></td>
            </tr>
            <tr>
                <td class="t-label t-l-w">미비서류</td>
                <td class="t-content t-c-w al" colspan="5">
                    <span id="spanLodGrpHi" lod-area="group">
                        <span lod-area="button">
                            <button lod-item="button" class="form-btn form-btn-n" style="width: 70px;" type="button"><strong>미비선택</strong></button>
                        </span>
                        <span lod-area="content">
                            <span lod-item="content" id="lodNm" name="lodNm" formType="text-r" formOnly="Y" style="width: 260px" class="text-r" placeholder="미비서류를 선택하세요." value=""></span>
                        </span>
                        <span lod-area="due-date-cap">
                            <span lod-item="due-date-cap" style="width: 50px; display: inline-block; font-size: 11px; color: #717071; text-align: right;">예정기일</span>
                        </span>
                        <span lod-area="due-date" style="display: inline-block; vertical-align:middle;">
                            <span class="form-group">
                                <div formType="datePicker" formOnly="Y" lod-item="due-date-picker" class="input-group date" disabled>
                                    <span>
                                        <input lod-item="due-date-field" id="lodDueDt" name="lodDueDt" type="text" class="form-control form-box" placeholder="" style="width: 90px; text-align:center;" value="">
                                    </span>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </span>
                        </span>
                    </span>
                </td>
                <td class="t-white al" colspan="2">
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">메모1</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span>
                        <input type="text" id="lodMemo1" name="lodMemo1" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">메모2</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span>
                        <input type="text" id="lodMemo2" name="lodMemo2" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">Secret 메모</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span>
                        <input type="text" id="lodMemoSec" name="lodMemoSec" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">요금설계</td>
                <td class="t-content t-c-w al" colspan="7">
                    <span>
                        <input type="text" id="callPlanMemo" name="callPlanMemo" class="form-control form-box" style="width: 100%; text-align: left;" value="">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="t-label t-l-w">첨부</td>
                <td class="t-content t-c-w al" colspan="7"></td>
            </tr>
        </tbody>
    </table>
    <!-- 처리 버튼 -->
    <table id="tableExeButtonGrp" class="t-table">
        <colgroup>
            <col width="800">
        </colgroup>
        <tbody>
            <tr>
                <td class="t-white-line" colpan="8"></td>
            </tr>
            <tr id="trExeButtonGrp">
                <td>
                    <button id="btnRegData" type="button" class="btn btn-primary" style="width: 120px;">등록</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 탭 본문 : 홈/인터넷 End -->
<!-- Javascript Include Start -->

<!-- Javascript Include End -->

<!-- Javascript Local Code Start -->
<script>
$(document).ready(function() {

    // 통신사 변경 이벤트 처리
    $("#openTelecomHi").on("change", function(e, params) {
        var _this = $(this);

        // 통신사 값 세팅
        $("#spanCcGrp").attr("telecomCd", _this.val()); // 결합 상품용
        $("#spanProdInternetGrp").attr("telecomCd", _this.val()); // 인터넷 상품용
        $("#spanProdTvInfoGrps").attr("telecomCd", _this.val()); // TV 상품용
        $("#spanProdItpInfoGrps").attr("telecomCd", _this.val()); // 전화 상품용

        // 개통거래처 데이터 세팅
        $("#openAgentHi").gfSetAgent2ComboBox({
            telecomCd: _this.val()
        });

        // 결합 상품 초기화
        $("#spanCcGrp").gfInitCcGrp()

        // 인터넷 상품 초기화
        $("#spanProdInternetGrp").gfInitProdInternetGrp();

        // TV 상품 리셋
        $("#spanProdTvInfoGrps").resetProdTvInfoGrp({
            multiButton: $("#spanProdTvInfoBtns")
        });

        // 전화 상품 리셋
        $("#spanProdItpInfoGrps").resetProdItpInfoGrp({
            multiButton: $("#spanProdItpInfoBtns")
        });

        // 미비서류란 초기화
        $("#spanLodGrpHi").gfInitLodGrp();

    });

    // 개통일 입력에 따른 진행상태 처리(change)
    $("#openDtHi").on("change", function(e, params) {
        var _this = $(this);
        var _spanProcStatusHi = $("#spanProcStatusHi");
        _spanProcStatusHi.html($.isEmpty(_this.val()) ? "신청" : "완료");
    });

    // TV상품란 추가(+) 버튼 클릭 이벤트
    $("#btnProdTvInfoPlus").on("click", function(e, params) {
        var _this = $(this);
        var _multiButton       = _this.closest("[tv-area='multi-button']"); // +/- 버튼 영역
        var _multiButtonPlus   = _multiButton.children("[tv-item='button-plus']"); // +버튼
        var _multiButtonMinus  = _multiButton.children("[tv-item='button-minus']"); // -버튼
        var _multiGroup        = $("#" + _multiButton.attr("groupId")); // TV상품란 그룹 묶음(multi)
        var _tvTmp             = _multiGroup.children("[tv-area='group-temp']"); // 그룹 템플릿
        var _tvGrps            = _multiGroup.children("[tv-area='group']"); // 각 그룹

        var countTvGrp         = _tvGrps.length; // 그룹 개수

        // 추가 가능할 경우 만
        if(countTvGrp < 3) {

            // TV 상품을 추가 한다
            _multiGroup.addProdTvInfoGrp();

            // TV상품  갯수가 1보다 클 경우 (-)버튼 보이기
            if(countTvGrp >= 1) {
                _multiButtonMinus.removeClass("disp-n").addClass("disp-b");
            }
        }
    });

    // TV상품란 추가(-) 버튼 클릭 이벤트
    $("#btnProdTvInfoMinus").on("click", function(e, params) {
        var _this             = $(this);
        var _multiButton      = _this.closest("[tv-area='multi-button']"); // +/- 버튼 영역
        var _multiButtonPlus  = _multiButton.children("[tv-item='button-plus']"); // +버튼
        var _multiButtonMinus = _multiButton.children("[tv-item='button-minus']"); // -버튼
        var _multiGroup       = $("#" + _multiButton.attr("groupId")); // TV상품 서비스 그룹 묶음(multi)
        var _tvGrps           = _multiGroup.children("[tv-area='group']"); // 각 그룹

        var countTvGrp        = _tvGrps.length; // 그룹 개수

        // 마지막 TV상품란을 제거한다
        _tvGrps.last().remove();

        // TV상품란 갯수가 2개 이하 일 경우 (-)버튼 보이지 않기
        if(countTvGrp <= 2) {
            _multiButtonMinus.removeClass("disp-b").addClass("disp-n");
        }
    });

    // 전화상품란 추가(+) 버튼 클릭 이벤트
    $("#btnProdItpInfoPlus").on("click", function(e, params) {
        var _this = $(this);
        var _multiButton       = _this.closest("[itp-area='multi-button']"); // +/- 버튼 영역
        var _multiButtonPlus   = _multiButton.children("[itp-item='button-plus']"); // +버튼
        var _multiButtonMinus  = _multiButton.children("[itp-item='button-minus']"); // -버튼
        var _multiGroup        = $("#" + _multiButton.attr("groupId")); // 전화상품 그룹 묶음(multi)
        var _itpTmp            = _multiGroup.children("[itp-area='group-temp']"); // 그룹 템플릿
        var _itpGrps           = _multiGroup.children("[itp-area='group']"); // 각 그룹

        var countItpGrp         = _itpGrps.length; // 그룹 개수

        // 추가 가능할 경우 만
        if(countItpGrp < 3) {

            // 전화 상품을 추가 한다
            _multiGroup.addProdItpInfoGrp();

            // 전화 상품  갯수가 1보다 클 경우 (-)버튼 보이기
            if(countItpGrp >= 1) {
                _multiButtonMinus.removeClass("disp-n").addClass("disp-b");
            }
        }
    });

    // 전화상품란 추가(-) 버튼 클릭 이벤트
    $("#btnProdItpInfoMinus").on("click", function(e, params) {
        var _this             = $(this);
        var _multiButton      = _this.closest("[itp-area='multi-button']"); // +/- 버튼 영역
        var _multiButtonPlus  = _multiButton.children("[itp-item='button-plus']"); // +버튼
        var _multiButtonMinus = _multiButton.children("[itp-item='button-minus']"); // -버튼
        var _multiGroup       = $("#" + _multiButton.attr("groupId")); // 전화상품 서비스 그룹 묶음(multi)
        var _itpGrps          = _multiGroup.children("[itp-area='group']"); // 각 그룹

        var countItpGrp        = _itpGrps.length; // 그룹 개수

        // 마지막 전화상품란을 제거한다
        _itpGrps.last().remove();

        // 전화상품란 갯수가 2개 이하 일 경우 (-)버튼 보이지 않기
        if(countItpGrp <= 2) {
            _multiButtonMinus.removeClass("disp-b").addClass("disp-n");
        }
    });

    // 호출한 부모의 데이터 세팅하기    
    $.setParentData();

    // 일반 form 객체 초기화
    $.gfInitFormField("Y");
});

/*
 * TV상품 리셋
 */
$.fn.resetProdTvInfoGrp = function(opts) {
    var _multiGroup  = this;
    var _multiButton = opts.multiButton;

    // +/- 버튼 처리
    if(!$.isEmpty(_multiButton)) {
        // TV상품 (-)버튼을 숨김
        _multiButton.children("[tv-item='button-minus']").removeClass("disp-b").addClass("disp-n");
    }

    // 기존 TV상품 제거(전체)
    _multiGroup.children("[tv-area='group']").remove();

    // TV 상품 추가(1건)
    _multiGroup.addProdTvInfoGrp();
};

/*
 * TV상품란 복제 추가
 */
$.fn.addProdTvInfoGrp = function(opts) {
    var _multiGroup         = this;
    var _tempGroup          = _multiGroup.children("[tv-area='group-temp']");
    var _groups             = _multiGroup.children("[tv-area='group']");

    var countGroups         = _groups.length; // 그룹 개수

    // TV 상품란 복제
    var _addGroup           = _tempGroup.clone(false);

    var _itemProduct        = _addGroup.find("[tv-item='product']"); // TV 상품명
    var _itemKeepDatePicker = _addGroup.find("[tv-item='keep-date-picker']"); // 유지일
    var _itemProductChange  = _addGroup.find("[tv-item='product-change']"); // 변경예정 TV 상품명

    // 그룹 속성에 seqNo 세팅
    _addGroup.attr("seqNo", countGroups + 1);

    // 그룹 tv-area 속성 group 세팅
    _addGroup.attr("tv-area", "group");

    // display none 제거
    _addGroup.removeClass("disp-n");

    // 상품란 Chosen 적용
    _itemProduct.gfSetChosen();

    // 유지일 DatePicker 적용
    _itemKeepDatePicker.gfSetDatePicker();

    // 변경예정상품란 Chosen 적용
    _itemProductChange.gfSetChosen();

    // TV상품 Group 초기화
    _addGroup.gfInitProdTvGrp({
        telecomCd: _multiGroup.attr("telecomCd")
    });

    // 그룹에 추가
    _addGroup.appendTo(_multiGroup);

};

/*
 * 전화상품란의 리셋
 */
$.fn.resetProdItpInfoGrp = function(opts) {
    var _multiGroup  = this;
    var _multiButton = opts.multiButton;

    // +/- 버튼 처리
    if(!$.isEmpty(_multiButton)) {
        // 전화상품 (-)버튼을 숨김
        _multiButton.children("[itp-item='button-minus']").removeClass("disp-b").addClass("disp-n");
    }

    // 기존 전화상품 제거(전체)
    _multiGroup.children("[itp-area='group']").remove();

    // TV 상품 추가(1건)
    _multiGroup.addProdItpInfoGrp();
};

/*
 * 전화상품란 복제 추가
 */
$.fn.addProdItpInfoGrp = function(opts) {
    var _multiGroup         = this;
    var _tempGroup          = _multiGroup.children("[itp-area='group-temp']");
    var _groups             = _multiGroup.children("[itp-area='group']");

    var countGroups         = _groups.length; // 그룹 개수

    // 전화 상품란 복제
    var _addGroup           = _tempGroup.clone(false);

    var _itemProduct        = _addGroup.find("[itp-item='product']"); // 전화 상품명

    // 그룹 속성에 seqNo 세팅
    _addGroup.attr("seqNo", countGroups + 1);

    // 그룹 itp-area 속성 group 세팅
    _addGroup.attr("itp-area", "group");

    // display none 제거
    _addGroup.removeClass("disp-n");

    // 상품란 Chosen 적용
    _itemProduct.gfSetChosen();

    // 전화상품 Group 초기화
    _addGroup.gfInitProdItpGrp({
        telecomCd: _multiGroup.attr("telecomCd")
    });

    // 그룹에 추가
    _addGroup.appendTo(_multiGroup);

};

/*
 * 호출한 부모의 데이터 세팅하기    
 */
$.setParentData = function() {
    var _parent = $("#divContents03").parent();

    var parentId  = $.n2s(_parent.attr("id"));
    var telecomCd = $.n2s(_parent.attr("telecomCd"));    
    var agentCd   = $.n2s(_parent.attr("agentCd"));    
    var staffCd   = $.n2s(_parent.attr("staffCd"));    
    
    // 세팅 대상
    var _sellerNmHi         = $("#sellerNmHi"); // 홈/인터넷 판매자
    var _openTelecomHi      = $("#openTelecomHi"); // 홈/인터넷 개통통신사
    var _openAgentHi        = $("#openAgentHi"); // 홈/인터넷 개통거래처
    var _trExeButtonGrp     = $("#trExeButtonGrp"); // 처리버튼 그룹
    
    // 단말기에 동시판매일 경우
    if(parentId == "divHiJoinNew") {
        // 등록 버튼 숨기기
        _trExeButtonGrp.addClass("disp-n");
        
        // 통신사 세팅
        _openTelecomHi.gfSetComCd2ComboBox({
            grpCd : "G0002",
            setValue : telecomCd,
            isDisabled : true,
            triggerEvent : "change"
        });
        _openTelecomHi.removeAttr("formType"); // 초기화 동작을 회피하기 위함(중요)
        
        // 홈상품 개통 거래처
        _openAgentHi.attr("setValue", agentCd); 
        _openAgentHi.attr("isDisabled", "true");

        // 홈상품 개통 판매자
        _sellerNmHi.attr("setValue", staffCd); 
    }
}

</script>
<!-- Javascript Local Code End -->



