<!-- 탭 본문 : 이용신청관리 Start -->
<div id="divContents01">
    <div class="spinWrap">
        <div class="jqGrid_wrapper">
            <table id="dataGrid"></table>
            <div id="pagerList"></div>
        </div>
    </div>
</div>
<!-- 탭 본문 : 단말기 End -->
<!-- Javascript Include Start -->

<!-- Javascript Include End -->

<!-- Javascript Local Code Start -->
<script>
$(document).ready(function() {
	// 1. JQGrid 객체 생성(초기화)
    $("#dataGrid").jqGridInit({
        pager: "#pagerList",
        colNames:[
        	'요청번호', '요청일', '진행상태', '구분', '회사명', '대표매장',
        	'대표자', '아이디', '전화', '휴대폰', '이메일', 
        	'주소'
        ],
        colModel:[
            {
                name: 'reqId',
                width: 100,
                align: "center"
            },
            {
                name: 'reqDt',
                editable: false,
                width: 80,
                align: "center",
                formatter: "date",
                formatoptions: {
                   srcformat: 'Y-m-d H:i:s',
                   newformat: 'y-m-d'
                }
            },
            {
                name: 'reqStatusNm',
                editable: false,
                width: 80,
                align: "center",
                cellattr: function(rowId, val, rowObject, cm, rdata) {
                    console.log(rowObject.reqStatusCss);
                    return rowObject.reqStatusCss;
                }
            },
            {
                name: 'companyTpNm',
                editable: false,
                width: 70,
                align: "center"
            },
            {
                name: 'companyNm',
                editable: false,
                width: 150,
                align: "left"
            },
            {
                name: 'shopNm',
                editable: false,
                width: 150,
                align: "left"
            },
            {
                name: 'userNm',
                editable: false,
                width: 70,
                align: "left"
            },
            {
                name: 'userId',
                editable: false,
                width: 90,
                align: "left"
            },
            {
                name: 'telNo',
                editable: false,
                width: 120,
                align: "center",
                formatter: function(cellvalue, options, rowObject) {
                    return $.jqGridTelNo(rowObject.telNo1, rowObject.telNo2, rowObject.telNo3);                    
                }
            },
            {
                name: 'cellNo',
                editable: false,
                width: 120,
                align: "center",
                formatter: function(cellvalue, options, rowObject) {
                    return $.jqGridTelNo(rowObject.cellNo1, rowObject.cellNo2, rowObject.cellNo3);                    
                }
            },
            {
                name: 'email',
                editable: false,
                width: 150,
                align: "left"
            },
            {
                name: 'addr1',
                editable: false,
                width: 200,
                align: "left"
            }
        ],
        formatter: {
             currency : {
                thousandsSeparator: ",",
                defaultValue: '0',
                decimalPlaces: 0
             }
        },
        // 이벤트 처리
        ondblClickRow: function(id) { // 더블클릭
            // 상세 팝업
            var reqId = $(this).jqGrid('getCell', id, 'reqId'); // 요청번호

            alert("ondblClickRow :: reqId:[" + $(this).jqGrid('getCell', id, 'reqId') + "]");
            $.gfCommonPopUp({
                popUrl: "{% url 'sysman:use__app_req__detail' %}",
                modalId: "divAppreqDetailPopup",
                width: "700",
                params: {
                    reqId: reqId
                },
                loginCheck: true
            });
        },
        onSelectRow: function(id) { // Row가 선택되었을때
//            alert("onSelectRow :: reqId:[" + $(this).jqGrid('getCell', id, 'reqId') + "]");
        },
        loadComplete: function() {
//            alert("loadComplete :: !!!!!!!!!!!");
        }
    });

    // 최초 전체 데이터 획득
    $.getAppreqList();

});

/*
 * 이용신청 데이터 획득(Ajax-Json)
 */
$.getAppreqList = function(){
    $.gfAjax({
        type: "POST",
        url: "{% url 'sysman:use__app_req__list__json' %}",
        async: true,
        successFunc: function(data, textStatus, jqXHR) {
            var resultData = data.resultData;

            $("#dataGrid").jqGrid("clearGridData");
            $("#dataGrid").jqGrid("setGridParam", {data: data.resultData});
            $("#dataGrid").trigger("reloadGrid");
        }
    });
};

</script>
<!-- Javascript Local Code End -->



