<!-- 탭 본문 : 이용신청관리 Start -->
<div id="divContents01">
    <div class="jqGrid_wrapper">
        <table id="dataGrid"></table>
        <div id="pagerList"></div>
    </div>
</div>
<!-- 탭 본문 : 단말기 End -->
<!-- Javascript Include Start -->

<!-- Javascript Include End -->

<!-- Javascript Local Code Start -->
<script>
$(document).ready(function() {
	
    // Examle data for jqGrid
    var companyData = [
        { 
            companyId: "C0000001", companyNm: "(주)엔텔", companyTp: "S0004S", companyTpNm: "판매점", companyGrade: "S0006A", companyGradeNm: "일반",
            telNo: "053-428-7017", cellNo: "010-4344-5500", zipCd: "426689", addr1: "대구광역시 달서구 와룡로", addr2: "151(감삼동)", 
            useYn: 1, regDt: "2017-07-16", modDt: "2017-07-16", regId: "system", regNm: "시스템관리자", modId: "system", modNm: "시스템관리자"
        }
/*
        {id: "2",  openDt: "2010-05-25", shopNm: "이노텔", employeeNm: "정팀장", agentNm: "SK-동행", openStatus: "정상", custNm: "정고객", payType: "현금", openType: "기변", openTelNo: "010-6754-9876", telecomNm: "SKT", modelNm: "SM-G930T 와인", balAccounts: "-140000", margin: "128000"},
        {id: "3",  openDt: "2007-09-01", shopNm: "엔텔",   employeeNm: "정팀장", agentNm: "LG-유안", openStatus: "교품",custNm: "홍삼정", payType: "할부", openType: "신규", openTelNo: "010-3657-6383", telecomNm: "KT", modelNm: "SM-A520K 블랙", balAccounts: "-120000", margin: "43800"},
        {id: "4",  openDt: "2007-10-04", shopNm: "이노텔", employeeNm: "김사원", agentNm: "KT-대경", openStatus: "정상", custNm: "공장용", payType: "할부", openType: "신규", openTelNo: "010-7654-2303", telecomNm: "SKT", modelNm: "SM-N920S 골드", balAccounts: "540000", margin: "328000"},
        {id: "5",  openDt: "2007-10-05", shopNm: "엔텔",   employeeNm: "노대표", agentNm: "SK-동행", openStatus: "정상",custNm: "사실분", payType: "할부", openType: "MNP", openTelNo: "010-0987-2876", telecomNm: "SKT", modelNm: "SM-G930S 실버", balAccounts: "142900", margin: "13000"},
        {id: "6",  openDt: "2007-09-06", shopNm: "이노텔", employeeNm: "노대표", agentNm: "LG-유안", openStatus: "정상", custNm: "정대박", payType: "현금", openType: "신규", openTelNo: "010-2384-3489", telecomNm: "SKT", modelNm: "SM-G930S 와인", balAccounts: "-70000", margin: "20770"},
        {id: "7",  openDt: "2007-10-04", shopNm: "이노텔", employeeNm: "김사원", agentNm: "KT-대경", openStatus: "정상", custNm: "민엔텔", payType: "할부", openType: "기변", openTelNo: "010-2314-3147", telecomNm: "KT", modelNm: "SM-A520K 블랙", balAccounts: "370970", margin: "23440"},
        {id: "8",  openDt: "2007-10-03", shopNm: "이노텔", employeeNm: "노대표", agentNm: "SK-동행", openStatus: "정상", custNm: "공도리", payType: "현금", openType: "기변", openTelNo: "010-9847-2367", telecomNm: "SKT", modelNm: "LG-T390S 실버", balAccounts: "-340200", margin: "376500"},
        {id: "9",  openDt: "2007-09-01", shopNm: "이노텔", employeeNm: "노대표", agentNm: "LG-유안", openStatus: "중고", custNm: "한상민", payType: "유심", openType: "MNP", openTelNo: "010-2834-8472", telecomNm: "mSK", modelNm: "LG-T390K 핑크", balAccounts: "-120000", margin: "57000"},
        {id: "11", openDt: "2007-10-01", shopNm: "이노텔", employeeNm: "노대표", agentNm: "KT-대경", openStatus: "정상", custNm: "오영택", payType: "할부", openType: "신규", openTelNo: "010-4586-4867", telecomNm: "SKT", modelNm: "SM-A520K 블랙", balAccounts: "-98000", margin: "13000"},
        {id: "12", openDt: "2007-10-02", shopNm: "이노텔", employeeNm: "김사원", agentNm: "SK-동행", openStatus: "교품", custNm: "김장수", payType: "현금", openType: "MNP", openTelNo: "010-3862-3874", telecomNm: "LGT", modelNm: "SM-N920K 화이트", balAccounts: "-56440", margin: "3600"},
        {id: "13", openDt: "2007-09-01", shopNm: "엔텔",   employeeNm: "노대표", agentNm: "LG-유안", openStatus: "정상",custNm: "노영원", payType: "할부", openType: "신규", openTelNo: "010-3662-9837", telecomNm: "mSK", modelNm: "LG-T390T 실버", balAccounts: "30000", margin: "23000"}
*/        
    ];
	

    // Configuration for jqGrid Example 2
    $("#dataGrid").jqGrid({
        data: companyData,
        datatype: "local",
        height: "100%",
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames:[
        	'회사ID', '회사명', /*'회사구분',*/ '회사구분명', /*'회사등급',*/ '회사등급명', '전화번호', '휴대폰번호(대표)', '우편번호', '기본주소', '상세주소', 
        	'사용여부', '등록일', '등록자ID',  '등록자',  '수정일',  '수정자ID',  '수정자'
        ],
        colModel:[
            {name: 'companyId',      index:'companyId',       editable: false, width:80,   align: "center"},
            {name: 'companyNm',      index:'companyNm',       editable: false, width:120,  align: "left"},
            /*{name: 'companyTp',      index:'companyTp',       editable: false, width:60,   align: "center"},*/
            {name: 'companyTpNm',    index:'companyTpNm',     editable: false, width:100,  align: "center"},
            /*{name: 'companyGrade',   index:'companyGrade',    editable: false, width:30,   align: "center"},*/
            {name: 'companyGradeNm', index:'companyGradeNm',  editable: false, width:100,  align: "center"},
            {name: 'telNo',          index:'telNo',           editable: false, width:100,  align: "center"},
            {name: 'cellNo',         index:'cellNo',          editable: false, width:100,  align: "center"},
            {name: 'zipCd',          index:'zipCd',           editable: false, width:70,   align: "center"},
            {name: 'addr1',          index:'addr1',           editable: false, width:200,  align: "center"},
            {name: 'addr2',          index:'addr2',           editable: false, width:200,  align: "center"},
            {name: 'useYn',          index:'useYn',           editable: false, width:30,   align: "center"},
            {
                name:  'regDt'
               ,index: 'regDt'
               ,editable: false
               ,width: 100
               ,align: "center"
               ,sorttype: "date" 
               ,formatter: "YYYY-MM-DD"
            },
            {name: 'regId',          index:'regId',           editable: false, width:80,  align: "center"},
            {name: 'regNm',          index:'regNm',           editable: false, width:80,  align: "center"},
            {
                name:  'modDt'
               ,index: 'modDt'
               ,editable: false
               ,width: 100
               ,align: "center"
               ,sorttype: "date" 
               ,formatter: "YYYY-MM-DD"
            },
            {name: 'modId',          index:'modId',           editable: false, width:80,  align: "center"},
            {name: 'modNm',          index:'modNm',           editable: false, width:80,  align: "center"}
        ],
        formatter: {
             currency : {thousandsSeparator: ",", defaultValue: '0', decimalPlaces: 0}
        },
        multiselect: false,
        multiselectWidth: 30,
        pager: "#pagerList",
        viewrecords: true,
        caption: "",
        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false,
    });
	
	
});
</script>
<!-- Javascript Local Code End -->



